.center {
    display: flex;
    justify-content: center;
  }
.centerB {
display: flex;
justify-content: center;
padding: 10px
}
.submit{
    width: 70px!important;
    height: auto!important;
    min-width: unset!important;
    
}