<div class="center">
<mat-form-field>
	<mat-label>Search Articles</mat-label>
	<input matInput type="text" [(ngModel)]="searchText" placeholder="eg. business, donald trump, hillary clinton">
	<button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
		<mat-icon>close</mat-icon>
	</button>
</mat-form-field>
<button class="submit" type="submit" (click)="getTopKResults()">Submit</button>
</div>
<div class = "centerB">
<mat-label>Keyword Type: </mat-label>
<select class="selectSearch"name="Search By" id="searchBy">
<option selected="selected" value="content">Content Keyword</option>
<option value="title">Title Keyword</option>
</select>
</div>