<!DOCTYPE html>
<html>

<head>
  <title>Database Search Component</title>
</head>

<body>
  <h2>Database search</h2>
  <form action="../results/results.components.html" method="get"> <!--Python can find what the search term is that the user inputed
  This will change, we can navigate to the results page and search? or search then navigate> FIXME-->
    <table>
      <tbody>
        <tr>
          <td>Search: </td>
          <td><input size="10" name="keyword" /> </td>
        </tr>
      </tbody>
    </table>
    <input value="Search Related Terms" type="submit"/>
  </form>


</body>

</html>
