<div class="search-grid">
	<mat-form-field id="search-field">
		<mat-label>Search Articles</mat-label>
		<input matInput type="text" [(ngModel)]="searchText" placeholder="eg. business, university, republican, facebook">
		<button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>
	<ng-select id="search-type" [items]="searchTypes" bindLabel="label" bindValue="value" [clearable]="false" placeholder="Search by" [(ngModel)]="searchType">
	</ng-select>
	<mat-form-field id="search-quantity">
		<mat-label>Quantity</mat-label>
		<input matInput type="number" [(ngModel)]="searchQuantity">
	</mat-form-field>
	<button mat-stroked-button id="search-button" color="primary" (click)="getTopKResults()">Search</button>
</div>
