.center {
	display: flex;
	justify-content: center;
	&.dropdown {
		padding: 10px
	}
}
.search-grid {
	display:grid;
	grid-template-columns: 2fr 1fr 100px;
	grid-template-rows: 2fr;
	grid-template-areas:
	"search-field search-type search-button";
	grid-gap:10px;
}
#search-field {
	grid-area: search-field;
}
#search-type {
	grid-area: search-type;
}
#search-button {
	grid-area: search-button;
}
