.center {
	display: flex;
	justify-content: center;
	&.dropdown {
		padding: 10px
	}
}
.search-grid {
	display:grid;
	grid-template-columns: 2fr 1fr 0.5fr 80px;
	grid-template-rows: 1fr;
	grid-template-areas:
	"search-field search-type search-quantity search-button";
	grid-gap:10px;
}
#search-quantity {
	grid-area: search-quantity;
}
#search-field {
	grid-area: search-field;
}
#search-type {
	grid-area: search-type;
	min-width: 111px;
}
#search-button {
	grid-area: search-button;
}
